# -----------------------------
# PostgreSQL configuration file
# -----------------------------

# {{ ansible_managed }}

#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

data_directory    = '{{ postgres_data_directory }}'
hba_file          = '{{ postgres_hba_file }}'
ident_file        = '{{ postgres_ident_file }}'
external_pid_file = '{{ postgres_external_pid_file }}'

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses               = '{{ postgres_listen_addresses | join(',') }}'
port                           = {{ postgres_port }}
max_connections                = {{ postgres_max_connections }}
superuser_reserved_connections = {{ postgres_superuser_reserved_connections }}
unix_socket_directories        = '{{ postgres_unix_socket_directories }}'
unix_socket_group              = '{{ postgres_unix_socket_group }}'
unix_socket_permissions        = {{ postgres_unix_socket_permissions }}
bonjour                        = {{ postgres_bonjour | lower }}
bonjour_name                   = '{{ postgres_bonjour_name }}'

# - Security and Authentication -

authentication_timeout    = {{ postgres_authentication_timeout }}
ssl                       = {{ postgres_ssl | lower }}
ssl_ciphers               = '{{ postgres_ssl_ciphers }}'
ssl_prefer_server_ciphers = {{ postgres_ssl_prefer_server_ciphers | lower }}
ssl_ecdh_curve            = '{{ postgres_ssl_ecdh_curve }}'
ssl_cert_file             = '{{ postgres_ssl_cert_file }}'
ssl_key_file              = '{{ postgres_ssl_key_file }}'
ssl_ca_file               = '{{ postgres_ssl_ca_file }}'
ssl_crl_file              = '{{ postgres_ssl_crl_file }}'
password_encryption       = {{ postgres_password_encryption | lower }}
db_user_namespace         = {{ postgres_db_user_namespace | lower }}
row_security              = {{ postgres_row_security | lower }}
{% if postgres_krb_server_keyfile != "" %}

# GSSAPI using kerberos
krb_server_keyfile        = '{{ postgres_krb_server_keyfile }}'
krb_caseins_users         = {{ postgres_krb_caseins_users | lower }}
{% endif %}

# - TCP Keepalives -
# see "man 7 tcp" for details

tcp_keepalives_idle       = {{ postgres_tcp_keepalives_idle }}
tcp_keepalives_interval   = {{ postgres_tcp_keepalives_interval }}
tcp_keepalives_count      = {{ postgres_tcp_keepalives_count }}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -
shared_buffers                  = {{ postgres_shared_buffers }}
huge_pages                      = {{ postgres_huge_pages }}
temp_buffers                    = {{ postgres_temp_buffers }}
max_prepared_transactions       = {{ postgres_max_prepared_transactions }}
work_mem                        = {{ postgres_work_mem }}
maintenance_work_mem            = {{ postgres_maintenance_work_mem }}
autovacuum_work_mem             = {{ postgres_autovacuum_work_mem }}
max_stack_depth                 = {{ postgres_max_stack_depth }}
dynamic_shared_memory_type      = {{ postgres_dynamic_shared_memory_type }}

# - Disk -

temp_file_limit                 = {{ postgres_temp_file_limit }}

# - Kernel Resource Usage -

max_files_per_process           = {{ postgres_max_files_per_prcess }}
shared_preload_libraries        = '{{ postgres_shared_preload_libraries }}'

# - Cost-Based Vacuum Delay -

vacuum_cost_delay               = {{ postgres_vacuum_cost_delay }}
vacuum_cost_page_hit            = {{ postgres_vacuum_cost_page_hit }}
vacuum_cost_page_miss           = {{ postgres_vacuum_cost_page_miss }}
vacuum_cost_page_dirty          = {{ postgres_vacuum_cost_page_dirty }}
vacuum_cost_limit               = {{ postgres_vacuum_cost_limit }}

# - Background Writer -

bgwriter_delay                  = {{ postgres_bgwriter_delay }}
bgwriter_lru_maxpages           = {{ postgres_bgwriter_lru_maxpages }}
bgwriter_lru_multiplier         = {{ postgres_bgwriter_lru_multiplier }}

# - Asynchronous Behavior -
effective_io_concurrency        = {{ postgres_effective_io_concurrency }}
max_worker_processes            = {{ postgres_max_worker_processes }}

#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

wal_level                    = {{ postgres_wal_level }}
fsync                        = {{ postgres_fsync | lower }}
synchronous_commit           = {{ postgres_synchronous_commit }}
wal_sync_method              = {{ postgres_wal_sync_method }}
full_page_writes             = {{ postgres_full_page_writes | lower }}
wal_compression              = {{ postgres_wal_compression | lower }}
wal_log_hints                = {{ postgres_wal_log_hints | lower}}
wal_buffers                  = {{ postgres_wal_buffers }}
wal_writer_delay             = {{ postgres_wal_writer_delay }}
commit_delay                 = {{ postgres_commit_delay }}
commit_siblings              = {{ postgres_commit_siblings }}

# - Checkpoints -

checkpoint_timeout           = {{ postgres_checkpoint_timeout }}
max_wal_size                 = {{ postgres_max_wal_size }}
min_wal_size                 = {{ postgres_min_wal_size }}
checkpoint_completion_target = {{ postgres_checkpoint_completion_target }}
checkpoint_warning           = {{ postgres_checkpoint_warning }}

# - Archiving -

archive_mode                 = {{ postgres_archive_mode }}
archive_command              = '{{ postgres_archive_command }}'
archive_timeout              = {{ postgres_archive_timeout }}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Server(s) -

max_wal_senders              = {{ postgres_max_wal_senders }}
{# wal_keep_segments            = {{ postgres_wal_keep_segments }} #}
wal_sender_timeout           = {{ postgres_wal_sender_timeout }}
max_replication_slots        = {{ postgres_max_replication_slots }}
track_commit_timestamp       = {{ postgres_track_commit_timestamp | lower }}

# - Master Server -

synchronous_standby_names    = '{{ postgres_synchronous_standby_names | join(',') }}'

# - Standby Servers -

hot_standby                  = {{ postgres_hot_standby | lower }}
max_standby_archive_delay    = {{ postgres_max_standby_archive_delay }}
max_standby_streaming_delay  = {{ postgres_max_standby_streaming_delay }}
wal_receiver_status_interval = {{ postgres_wal_receiver_status_interval }}
hot_standby_feedback         = {{ postgres_hot_standby_feedback | lower }}
wal_receiver_timeout         = {{ postgres_wal_receiver_timeout }}
wal_retrieve_retry_interval  = {{ postgres_wal_retrieve_retry_interval }}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

# - Planner Method Configuration -

enable_bitmapscan          = {{ postgres_enable_bitmapscan | lower }}
enable_hashagg             = {{ postgres_enable_hashagg | lower }}
enable_hashjoin            = {{ postgres_enable_hashjoin | lower }}
enable_indexscan           = {{ postgres_enable_indexscan | lower }}
enable_indexonlyscan       = {{ postgres_enable_indexonlyscan | lower }}
enable_material            = {{ postgres_enable_material | lower }}
enable_mergejoin           = {{ postgres_enable_mergejoin | lower }}
enable_nestloop            = {{ postgres_enable_nestloop | lower }}
enable_seqscan             = {{ postgres_enable_seqscan | lower }}
enable_sort                = {{ postgres_enable_sort | lower }}
enable_tidscan             = {{ postgres_enable_tidscan | lower }}

# - Planner Cost Constants -

seq_page_cost              = {{ postgres_seq_page_cost }}
random_page_cost           = {{ postgres_random_page_cost }}
cpu_tuple_cost             = {{ postgres_cpu_tuple_cost }}
cpu_index_tuple_cost       = {{ postgres_cpu_index_tuple_cost }}
cpu_operator_cost          = {{ postgres_cpu_operator_cost }}
effective_cache_size       = {{ postgres_effective_cache_size }}

# - Genetic Query Optimizer -

geqo                       = {{ postgres_geqo | lower }}
geqo_threshold             = {{ postgres_geqo_threshold }}
geqo_effort                = {{ postgres_geqo_effort }}
geqo_pool_size             = {{ postgres_geqo_pool_size }}
geqo_generations           = {{ postgres_geqo_generations }}
geqo_selection_bias        = {{ postgres_geqo_selection_bias }}
geqo_seed                  = {{ postgres_geqo_seed }}

# - Other Planner Options -

default_statistics_target  = {{ postgres_default_statistics_target }}
constraint_exclusion       = {{ postgres_constraint_exclusion }}
cursor_tuple_fraction      = {{ postgres_cursor_tuple_fraction }}
from_collapse_limit        = {{ postgres_from_collapse_limit }}
join_collapse_limit        = {{ postgres_join_collapse_limit }}

#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - Where to Log -

log_destination            = '{{ postgres_log_destination | join(',') }}'
logging_collector          = {{ postgres_logging_collector | lower }}
log_directory              = '{{ postgres_log_directory }}'
log_filename               = '{{ postgres_log_filename }}'
log_file_mode              = {{ postgres_log_file_mode }}
log_truncate_on_rotation   = {{ postgres_log_truncate_on_rotation | lower }}
log_rotation_age           = '{{ postgres_log_rotation_age }}'
log_rotation_size          = '{{ postgres_log_rotation_size }}'
syslog_facility            = '{{ postgres_syslog_facility }}'
syslog_ident               = '{{ postgres_syslog_ident }}'
event_source               = '{{ postgres_event_source }}'

# - When to Log -

client_min_messages        = {{ postgres_client_min_messages }}
log_min_messages           = {{ postgres_log_min_messages }}
log_min_error_statement    = {{ postgres_log_min_error_statement }}
log_min_duration_statement = {{ postgres_log_min_duration_statement }}

# - What to Log -

debug_print_parse          = {{ postgres_debug_print_parse | lower }}
debug_print_rewritten      = {{ postgres_debug_print_rewritten | lower }}
debug_print_plan           = {{ postgres_debug_print_plan | lower }}
debug_pretty_print         = {{ postgres_debug_pretty_print | lower }}
log_checkpoints            = {{ postgres_log_checkpoints | lower }}
log_connections            = {{ postgres_log_connections | lower }}
log_disconnections         = {{ postgres_log_disconnections | lower }}
log_duration               = {{ postgres_log_duration | lower }}
log_error_verbosity        = {{ postgres_log_error_verbosity }}
log_hostname               = {{ postgres_log_hostname | lower }}
log_line_prefix            = '{{ postgres_log_line_prefix }}'
log_lock_waits             = {{ postgres_log_lock_waits | lower }}
log_statement              = '{{ postgres_log_statement }}'
log_replication_commands   = {{ postgres_log_replication_commands | lower }}
log_temp_files             = {{ postgres_log_temp_files }}
log_timezone               = '{{ postgres_log_timezone }}'

# - Process Title -

cluster_name               = '{{ postgres_cluster_name }}'
update_process_title       = '{{ postgres_update_process_title }}'

#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------

# - Query/Index Statistics Collector -

track_activities          = {{ postgres_track_activities | lower }}
track_counts              = {{ postgres_track_counts | lower }}
track_io_timing           = {{ postgres_track_io_timing |lower }}
track_functions           = {{ postgres_track_functions }}
track_activity_query_size = {{ postgres_track_activity_query_size }}

# - Statistics Monitoring -

log_parser_stats          = {{ postgres_log_parser_stats | lower }}
log_planner_stats         = {{ postgres_log_planner_stats | lower }}
log_executor_stats        = {{ postgres_log_executor_stats | lower }}
log_statement_stats       = {{ postgres_log_statement_stats | lower }}

#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------

autovacuum                          = {{ postgres_autovacuum | lower }}
log_autovacuum_min_duration         = {{ postgres_log_autovacuum_min_duration }}
autovacuum_max_workers              = {{ postgres_autovacuum_max_workers }}
autovacuum_naptime                  = {{ postgres_autovacuum_naptime }}
autovacuum_vacuum_threshold         = {{ postgres_autovacuum_vacuum_threshold }}
autovacuum_analyze_threshold        = {{ postgres_autovacuum_analyze_threshold }}
autovacuum_vacuum_scale_factor      = {{ postgres_autovacuum_vacuum_scale_factor }}
autovacuum_analyze_scale_factor     = {{ postgres_autovacuum_analyze_scale_factor }}
autovacuum_freeze_max_age           = {{ postgres_autovacuum_freeze_max_age }}
autovacuum_multixact_freeze_max_age = {{ postgres_autovacuum_multixact_freeze_max_age }}
autovacuum_vacuum_cost_delay        = {{ postgres_autovacuum_vacuum_cost_delay }}
autovacuum_vacuum_cost_limit        = {{ postgres_autovacuum_vacuum_cost_limit }}

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Statement Behavior -

search_path                         = '{{ postgres_search_path }}'
default_tablespace                  = '{{ postgres_default_tablespace }}'
temp_tablespaces                    = '{{ postgres_temp_tablespaces }}'
check_function_bodies               = {{ postgres_check_function_bodies | lower }}
default_transaction_isolation       = '{{ postgres_default_transaction_isolation }}'
default_transaction_read_only       = {{ postgres_default_transaction_read_only | lower }}
default_transaction_deferrable      = {{ postgres_default_transaction_deferrable | lower }}
session_replication_role            = '{{ postgres_session_replication_role }}'
statement_timeout                   = {{ postgres_statement_timeout }}
lock_timeout                        = {{ postgres_lock_timeout }}
vacuum_freeze_min_age               = {{ postgres_vacuum_freeze_min_age }}
vacuum_freeze_table_age             = {{ postgres_vacuum_freeze_table_age }}
vacuum_multixact_freeze_min_age     = {{ postgres_vacuum_multixact_freeze_min_age }}
vacuum_multixact_freeze_table_age   = {{ postgres_vacuum_multixact_freeze_table_age }}
bytea_output                        = '{{ postgres_bytea_output }}'
xmlbinary                           = '{{ postgres_xmlbinary }}'
xmloption                           = '{{ postgres_xmloption }}'
gin_fuzzy_search_limit              = {{ postgres_gin_fuzzy_search_limit }}
gin_pending_list_limit              = {{ postgres_gin_pending_list_limit }}

# - Locale and Formatting -

datestyle                           = '{{ postgres_datestyle }}'
intervalstyle                       = '{{ postgres_intervalstyle }}'
timezone                            = '{{ postgres_timezone }}'
timezone_abbreviations              = '{{ postgres_timezone_abbreviations }}'
extra_float_digits                  = {{ postgres_extra_float_digits }}
client_encoding                     = {{ postgres_client_encoding }}
lc_messages                         = '{{ postgres_lc_messages }}'
lc_monetary                         = '{{ postgres_lc_monetary }}'
lc_numeric                          = '{{ postgres_lc_numeric }}'
lc_time                             = '{{ postgres_lc_time }}'
default_text_search_config          = '{{ postgres_default_text_search_config }}'

# - Other Defaults -

dynamic_library_path                = '{{ postgres_dynamic_library_path }}'
local_preload_libraries             = '{{ postgres_local_preload_libraries }}'
session_preload_libraries           = '{{ postgres_session_preload_libraries }}'

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------

deadlock_timeout               = {{ postgres_deadlock_timeout }}
max_locks_per_transaction      = {{ postgres_max_locks_per_transaction }}
max_pred_locks_per_transaction = {{ postgres_max_pred_locks_per_transaction }}

#------------------------------------------------------------------------------
# VERSION/PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -

array_nulls                 = {{ postgres_array_nulls | lower }}
backslash_quote             = {{ postgres_backslash_quote }}
default_with_oids           = {{ postgres_default_with_oids | lower }}
escape_string_warning       = {{ postgres_escape_string_warning | lower }}
lo_compat_privileges        = {{ postgres_lo_compat_privileges | lower }}
quote_all_identifiers       = {{ postgres_quote_all_identifiers | lower }}
standard_conforming_strings = {{ postgres_standard_conforming_strings | lower }}
synchronize_seqscans        = {{ postgres_synchronize_seqscans | lower }}

# - Other Platforms and Clients -

transform_null_equals       = {{ postgres_transform_null_equals | lower }}

#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------

exit_on_error       = {{ postgres_exit_on_error }}
restart_after_crash = {{ postgres_restart_after_crash }}
